.sign-up-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sign-up-option {
  margin-top: 20px;
  padding: 7px 9px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #00ffff;
  transition: background-color 0.2s, color 0.2s;
  font-size: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #00ffff;
  color: #282828;
}

.sign-up-option:hover {
  background-color: transparent;
  color: #00ffff;
}
