.classroom-details {
  position: absolute;
  top: -100%;
  background-color: #212121;
  font-size: 110%;
  font-weight: 400;
  width: 100%;
  padding: 15px;
  transition: top 0.2s, opacity 0.2s;
  z-index: 7;
  border-bottom: 1.5px solid #bfbfbf;
}

.classroom-detail {
  padding: 5px 15px;
  background-color: #303030;
  border-radius: 7px;
  border: 1.5px solid #4b4b4b;
}

.classroom-detail:not(:last-child) {
  margin-bottom: 8px;
}

.detail-title {
  color: #9c9c9c;
  font-size: 0.83rem;
}

.detail-content {
  color: #d3d3d3;
  font-size: 0.83rem;
}

.copied-code-status {
  color: #d3d3d3;
  font-size: 0.7rem;
  margin-left: 5px;
}

.copied-code-status:hover {
  text-decoration: underline;
}
