.dashboard {
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 105px;
  padding-bottom: 40px;
}

.section-heading {
  background-color: #121212;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  padding: 7px;
  font-size: 1.3rem;
  position: absolute;
  top: 60px;
  border-bottom: 1.5px solid #bfbfbf;
  right: 0;
  left: 0;
  color: #00ffff;
  animation: title-appear 0.2s linear;
}

@keyframes title-appear {
  0% {
    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
    pointer-events: all;
  }
}
