.classroom-stream {
    background-color: #424242;
    height: calc(100vh - 130px);
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.message-entry-form {
    position: absolute;
    height: 50px;
    bottom: 0;
    display: grid;
    width: 100%;
    grid-template-columns: calc(100% - 50px) 50px;
}

.message-entry-form input {
    height: 100%;
    padding: 10px;
    font-size: 95%;
    background-color: transparent;
    outline: none;
    border: 2px solid #0da3bf;
    color: #0da3bf;
    border-right-width: 0;
}

.message-entry-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: 2px solid #0da3bf;
    color: #0da3bf;
    transition: background-color 0.2s, color 0.2s;
}

.message-entry-form button:hover {
    background-color: #0da3bf;
    color: #fff;
}

.messages {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    overflow-y: scroll;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #282828;
}

.messages::-webkit-scrollbar {
    width: 10px;
}

.messages::-webkit-scrollbar-track {
    background-color: #b3f5ff;
}

.messages::-webkit-scrollbar-thumb {
    background-color: #0da3bf;
    border-radius: 5px;
}

.messages::-webkit-scrollbar-thumb:hover {
    background-color: #0da3bf;
}

.message {
    width: 100%;
    color: #fefefe;
    padding-top: 5px;
    padding-bottom: 5px;
}

.message-author {
    font-weight: 400;
    font-size: 95%;
    color: #0da3bf;
    display: inline-flex;
    margin-right: 10px;
}

.message-time {
    font-size: 80%;
    color: #ccc;
    font-weight: 400;
    display: inline-flex;
}
