.back-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #bfbfbf;
  font-weight: 400;
  border: 1.5px solid #bfbfbf;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5px;
  transition: box-shadow 0.1s;
  font-size: 70%;
  box-shadow: 0 0 5px 3px transparent;
  transition: font-size 0.2s, box-shadow 0.2s;
  left: 10px;
}

.back-button:hover {
  box-shadow: 0 0 5px 0.5px #bfbfbf;
}
