.current-user {
  color: #bfbfbf;
  margin-left: 10px;
  font-size: 1rem;
  padding: 7px 10px;
  padding-left: 20px;
  display: flex;
  border-left: 1.5px solid #404040;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 40px;
  position: relative;
  min-width: 100px;
}

.sign-out-button {
  color: #fff;
  opacity: 0;
  width: 100%;
  transition: opacity 0.2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 10px;
  background-color: #404040;
  border-radius: 5px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 670px) {
  .current-user {
    height: 40px;
    margin-left: 0;
  }
}
