.header {
    height: 80px;
    border-bottom: 2px solid #0da3bf;
    background-color: #121212;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 0 10px 0.1px #b3f5ff;
}

.app-name {
    font-size: 200%;
    font-weight: 400;
    color: #0da3bf;
    position: absolute;
    left: 20px;
}

.nav {
    position: absolute;
    right: 20px;
    display: flex;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-link {
    color: #fff;
    margin-left: 20px;
    font-size: 120%;
    background-color: #0da3bf;
    padding: 7px 12px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    position: relative;
    box-shadow: 0 4px #b3f5ff;
    transition: box-shadow 0.2s, transform 0.2s;
}

.nav-link:hover {
    box-shadow: 0 2px #b3f5ff;
    transform: translateY(2px);
}

.nav-link:active {
    transform: scale(0.97);
}
