.members-list-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  z-index: 2;
  height: 100%;
  background-color: #121212;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
  padding-top: 20px;
}

.members-list-container::-webkit-scrollbar {
  width: 5px;
}

.members-list-container::-webkit-scrollbar-track {
  background-color: #212121;
}

.members-list-container::-webkit-scrollbar-thumb {
  background-color: #00ffff;
  border-radius: 5px;
}

.members-list-container::-webkit-scrollbar-thumb:hover {
  background-color: #00ffff;
}

.members-list-heading {
  width: 100%;
  font-size: 120%;
  text-align: center;
  font-weight: 500;
  color: #eee;
  padding-bottom: 20px;
}

.members-list {
  list-style-type: none;
  border-top: 1.5px solid #404040;
}

.member {
  font-size: 0.95rem;
  color: #eee;
  padding: 15px 40px;
}

.member:not(:last-child) {
  border-bottom: 1.5px solid #404040;
}

.member:last-child {
  padding-bottom: 20px;
}

@media screen and (max-width: 680px) {
  .members-list-container {
    border-left-width: 0;
  }
}
