.show-members-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #b3f5ff;
  color: #121212;
  border: 1.5px solid #121212;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5px;
  transition: box-shadow 0.1s;
  font-size: 70%;
  box-shadow: 0 0 5px 3px transparent;
  transition: font-size 0.2s, box-shadow 0.2s;
  right: 60px;
  font-size: 120%;
  padding-top: 3px;
}

.show-details-button:hover {
  box-shadow: 0 0 4px 3px #b3f5ff;
}
