.settings-section {
  background-color: #212121;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
  position: relative;
}

.settings-section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #282828;
  border-bottom: 1.5px solid #bfbfbf;
  font-size: 130%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #121212;
  color: #00ffff;
  margin-bottom: 20px;
  animation: title-appear 0.2s linear;
}

@keyframes title-appear {
  0% {
    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
    pointer-events: all;
  }
}

.loading-screen {
  position: absolute;
  top: 120px;
  height: calc(100% - 120px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  right: 0;
  background-color: #00000050;
  z-index: 20;
  transition: opacity 0.3s;
}

.setting {
  width: 100%;
  color: #fff;
  animation: appear 0.2s linear;
  transition: border-color 0.2s;
}

.setting:not(:last-child) {
  border-bottom: 1.5px solid #404040;
}

.setting.big {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.setting.small {
  padding: 20px;
  display: grid;
  grid-template-columns: auto 40%;
}

.setting-heading {
  color: #fefefe;
  width: 100%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.96rem;
  transition: color 0.1s;
}

.setting.small .setting-heading {
  justify-content: flex-start;
}

.setting-options {
  display: grid;
  height: 50px;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.setting.big .setting-options {
  margin-top: 20px;
  grid-gap: 20px;
  min-height: 150px;
}

.setting.small .setting-options {
  grid-gap: 10px;
}

.setting-option {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  border: 1.5px solid #4b4b4b;
  border-radius: 5px;
  font-weight: 300;
  transition: transform 0.2s, border-color 0.2s;
}

.setting.small {
  font-size: 0.9rem;
}

.setting.small .setting-option {
  font-size: 0.9rem;
}

.setting.big .setting-option {
  font-size: 140%;
}

.setting-option:hover {
  transform: scale(1.01);
  border-color: #bfbfbf;
}
