.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  background-color: #212121;
  z-index: 11;
  height: 100vh;
  padding: 15px;
  border-right: 2px solid #0da3bf;
  transform: translateX(-101.5%);
  transition: transform 0.2s ease-out;
}

.sidebar-header {
  display: grid;
  grid-template-columns: 40px auto 40px;
  align-items: center;
  justify-items: center;
  color: #0da3bf;
  border-bottom: 2px solid #0da3bf;
  padding-bottom: 5px;
}

.settings-button,
.close-button {
  height: 40px;
  display: flex;
  width: 40px;
  justify-content: center;
  align-items: center;
}

.settings-button svg,
.close-button svg {
  color: '#0da3bf';
  width: 30px;
  height: 30px;
}

.app-name {
  font-size: 140%;
}

@media screen and (max-width: 1100px) {
  .sidebar {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    width: 60%;
  }
}

@media screen and (max-width: 680px) {
  .sidebar {
    width: 100%;
  }
}
