.user-message {
  width: 100%;
  height: auto;
  position: fixed;
  top: 70px;
  background-color: #000;
  color: #fff;
  transform: translateY(-100%);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  display: grid;
  grid-template-columns: auto 50px;
  align-items: center;
  justify-items: center;
  border-bottom: 2px solid #00ffff;
  z-index: 8;
}

.user-message-text {
  padding: 10px 15px;
  font-size: 90%;
  display: flex;
  width: 100%;
}

.close-user-message-button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  transition: transform 0.15s;
}

.close-user-message-button:hover {
  transform: scale(1.2);
}
